@font-face {
    font-family: 'DeterminationSans';
    src: url('./../fonts/DeterminationSans.woff') format('woff');
}

* {
    outline:0;
}
*:active {
    outline:0;
}
*:focus {
    outline:0;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #555;
}
::-webkit-scrollbar-thumb {
    background: #AAA; 
}
::-webkit-scrollbar-thumb:hover {
    background: #DDD; 
}

html {
  margin: 0;
  height: 100%;
}

body {
    box-sizing: border-box;
    background-color:black;
    padding: 2px;
    display: grid;
    grid-gap: 0px;
    margin: 0px;
    height: 100%;
}

.screen-state {
    display: inherit;
}
#loading-screen {
    color: cornsilk;
    font-family: DeterminationSans, Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 2em;
    margin-top: 8%;
}

#gosper-info-screen {
    border: 2px solid cornsilk;
    color: cornsilk;
    font-family: DeterminationSans, Helvetica, Arial, sans-serif;
    font-size: 1.15em;
    text-align: center;
    padding: 0px;
    grid-auto-rows: min-content;
    flex-direction: column;
    overflow: hidden;
}

#gosper-brain-view {
    overflow: auto;
}

#gosper-info-view-menu {
    height: 50px;
    display: grid;
    width: 100%;
    border-top: 2px solid cornsilk;
    border-bottom: 2px solid cornsilk;
    grid-auto-columns: 1fr 1fr 1fr 1fr 1fr;
    
}

#gosper-info-view-menu-main {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    border-right: 1px solid cornsilk;
    line-height: 48px;
}

#gosper-info-view-menu-lineage {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    border-right: 1px solid cornsilk;
    border-left: 1px solid cornsilk;
    line-height: 48px;
}

#gosper-info-view-menu-pathogen {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    border-right: 1px solid cornsilk;
    border-left: 1px solid cornsilk;
    line-height: 48px;
}

#gosper-info-view-menu-brain {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
    border-right: 1px solid cornsilk;
    border-left: 1px solid cornsilk;
    line-height: 48px;
}

#gosper-info-view-menu-back {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 4;
    grid-column-end: 4;
    border-left: 1px solid cornsilk;
    line-height: 48px;
}

.brain-text {
    font-family: monospace;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: lightblue;
}

.brain-text:hover {
    color: white;
    background-color:navy;
    cursor: pointer;
}

.gosper-info-menu-button {
    cursor: pointer;
    background-color: black;
}

.gosper-info-menu-button:hover {
    background-color: darkslategray;
}

.gosper-info-menu-button-selected {
    background-color: slategrey;
}

.gosper-info-menu-button-selected:hover {
    background-color: slategrey;
}

.gosper-info-view {
    columns: 185px;
    text-align: left;
    vertical-align: text-top;
    padding: 20px;
}

#gosper-brain-view {
    columns: unset;
}

#loading-screen h2 {
    margin: 5px;
}

#canvas, #sun-filter {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color:black;
    border-top: 2px solid cornsilk;
    border-bottom: 2px solid cornsilk;
    padding: 1px;
    cursor: grab;
}

#sun-filter {
    z-index: 10;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0);
    mix-blend-mode: overlay;
}

#canvas:active {
    cursor: grabbing;
}

#info-panel {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    border: 2px solid cornsilk;
    color: cornsilk;
    font-family: DeterminationSans, Helvetica, Arial, sans-serif;
    font-size: 1.15em;
    text-align: center;
    padding: 10px;
    width: 250px;
    overflow: auto;
}

#control-panel {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    border: 2px solid cornsilk;
    color: cornsilk;
    font-family: DeterminationSans, Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 10px;
    width: 150px;
    font-size: 1.15em;
    overflow: auto;
}

#info-panel div {
    text-align: left;
}

#gosper-info {
    width: 100%;
    padding: 5px;
    overflow: auto;
}

input[type=button] {
    text-align: center;
    width: 90%;
    height: 40px;
    margin: 5px;
    padding: 5px;
    color: cornsilk;
    cursor: pointer;
}

#controls {
    display: grid;
    grid-gap: 0px;
    margin: 0px;
}

#play-button {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;  
}

#pause-button {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

#slow-down-button {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;   
}

#speed-up-button {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;   
}

#zoom-out-button {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;   
}

#zoom-in-button {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;   
}

#terrain-select-button {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
}

#gosper-select-button {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
}

.disabled-button {
    border: 2px solid grey;
    background-color: rgb(49, 49, 49);
    cursor: default !important;
}

.enabled-button {
    border: 2px solid cornsilk;
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
    background-color: darkslategrey;
}

.enabled-button:hover {
    filter: brightness(1.2);
}

.enabled-button:active {
    border: 2px solid rgb(194, 188, 164);
    border-left: 2px solid rgb(100, 100, 100);
    border-top: 2px solid rgb(100, 100, 100);;
    background-color: rgb(32, 53, 53);
}

h3 {
    text-align: center;
    font-size: 1.6em;
    font-weight: normal;
    margin: 15px;
}

#gosper-more-info-button {
    width: max-content;
    padding: 10px;
    margin-top: 15px;
    border: 2px solid white;
    cursor: pointer;
}

#gosper-more-info-button:hover {
    color: black;
    background: white;
}

.hidden {
    display: none;
}

